@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --color-blue: hsla(227 92% 58% / 1);
  --color-gunmetal: hsla(215 31% 21% / 1);
  --color-gunmetal-muted: hsla(215 31% 21% / 0.25);
  --color-dark-electric-blue: hsla(215 17% 45% / 1);

  --color-red: hsla(331 89% 53% / 0.15);
  --color-yellow: hsla(29 92% 58% / 0.15);
  --color-green: hsla(180 70% 45% / 0.15);

  --color-blue-bg: hsla(227 92% 58% / 0.15);

  --color-white: hsla(0 0% 100% / 1);
  --color-borders: hsla(200 24% 88% / 1);

  --color-gradient-1: hsla(216 95% 92% / 1);
  --color-gradient-2: hsla(184 95% 92% / 0);

  --gradient-1: linear-gradient(
    to top left,
    var(--color-gradient-1),
    var(--color-gradient-2)
  );

  --color-shadow: hsla(211 40% 69% / 0.25);

  --shadow-card: 16px 32px 56px 0 var(--color-shadow);

  --font-base: 16px;
  --font-small: 0.875rem;
  --font-heading-sm: 1.25rem;
  --font-heading-md: 1.5rem;
  --font-heading-lg: 3rem;
  --font-heading-xl: 4rem;

  --padding-base: 1.5rem;
  --padding-lg: 2rem;

  --radius-sm: 0.75rem;
  --radius-md: 1rem;
  --radius-lg: 2rem;
  --radius-full: 75px;

  font-family: Inter, sans-serif;
  font-size: var(--font-base);
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 768px) {
  :root {
    --padding-base: 2.5rem;
  }
}
@media (min-width: 1440px) {
  :root {
    --padding-base: 8.75rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-white);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}
h1 {
  font-size: var(--font-heading-lg);
}
h2 {
  font-size: var(--font-heading-md);
}

p {
  line-height: 150%;
}

ul,
ol,
menu {
  list-style: none;
}

input,
textarea,
label,
button,
select,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}
